@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color: #374958;
  --background-color: #f1f5f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #374958;
    --background-color: #f1f5f9;
  }
}

body {
  /* color-scheme: light; */
  margin: 0;
  color: var(--color);
  background-color: var(--background-color);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d8b4fe transparent;
  box-sizing: border-box;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.btn-purple {
  @apply text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:outline-none shadow-lg shadow-purple-500/50 font-medium rounded-lg text-sm px-5 py-2 text-center mb-2 active:scale-90 duration-300 cursor-pointer block;
}
