@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color: #374958;
  --background-color: #f1f5f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #374958;
    --background-color: #f1f5f9;
  }
}

body {
  /* color-scheme: light; */
  margin: 0;
  color: var(--color);
  background-color: var(--background-color);
}

* {
  scrollbar-width: thin;
  box-sizing: border-box;
}
